body {
    font: normal 400 16px/1.5 Verdana, Geneva, Tahoma, sans-serif;
    color: #232323;
}
header {
    display: flex;
    justify-content: space-around;
}
nav > ul {
    list-style-type: none; 
    margin:0;  
}
.tabs {
    display:inline-block;
    margin: 3px 10px;
    padding: 2px 10px;
    text-decoration: none;
    color: inherit;
}
.tabs:hover{
    text-decoration: underline solid;
}
.tabs:active{
 background-color: #231212;   
}
article[class$="container"]{
    display: flex;
    flex-wrap: wrap;
}
.media-card {
    width: 250px;
    background-color: #e0dde0;
    border-radius: 10px;
    padding: 10px;
    margin:10px 20px;
}

.media-card-thumbnail {
    width: inherit;

}
.media-card-title {
    display: inline-block;
    margin: 3px auto;
}
.media-card p {
    margin: 3px auto;
    width: inherit;
}
.media-card .play-btn {
    color:rgb(18, 130, 228);
    margin: 0;
    padding: 0;
    position:relative;
    font-size: 43px;
    /* font: normal 600 2.7rem/1.5 Tahoma, san-serif; */
    top: -25px;
    left: 205px;
    cursor: pointer;
    outline:
}